body {
  font-family: tahoma;
  color:#282828;
  margin: 0px;
}

.nav-bar {
  background: linear-gradient(-90deg, #240954, #0000ff);
  height: 60px;
  margin-bottom: 15px;
}

.events {
  display:flex;
  flex-wrap:wrap;
}

.event {
  border: 1px solid pink;
  box-sizing: border-box;
  text-align: center
}
