body {
  font-family: tahoma;
  color:#282828;
  margin: 0px;
}

.page {
  background-image: url('page-background.jpg');
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0;
}
.events {
  display:flex;
  flex-wrap:wrap;
  width: 80%
}

.event {
  border: 10px solid #240954;
  height: 100px;
  box-sizing: border-box;
  background: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: ridge
}
